.card {
  width: 100%;
  height: 250px;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h3 {
    font-size: 11px;
    font-weight: 100;
    font-style: italic;
    color: white;
    margin: 7px;
  }

  .content {
    font-family: "Open Sans";
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    opacity: 0;
    transition: all 500ms ease-in-out;
    transform: translate(0, 20px);
    cursor: pointer;
    
    h2 {
      font-size: 14px;
      color: white;
    }

    p {
      font-size: 12px;
      color: white;
      margin-bottom: 20px;
    }

    .btn {
      background-color: black;
      color: white;
      padding: 10px;
      text-decoration: none;
      width: 25%;
      align-self: center;
    }

    &:hover {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }

  .content:hover{
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.video-container {
  align-items: flex-start;

  a {
    color: black;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 11px;
    font-weight: 200;
    line-height: 0%;
    padding-bottom: 5px;
  }
}

.card-video {
  height: 17.75em;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  @include media(">=phone", "<lgphone") {
    height: 10.6em;
  }
  @include media(">=lgphone", "<tablet") {
    height: 15.2em;
  }
  @include media(">=tablet", "<desktop") {
    height: 10.68em;
  }
  @media (min-width:831px) {
    height: 10em;
  }
  @media (min-width:1025px) {
    height: 11.75em;
  }
  @media (min-width:1281px) {
    height: 13.25em;
  }
  @media (min-width:1441px) {
    height: 15em;
  }
  @media (min-width:1580px) {
    height: 17.75em;
  }

  -o-transition:background-color 0.4s ease-in;
  -ms-transition:background-color 0.4s ease-in;
  -moz-transition:background-color 0.4s ease-in;
  -webkit-transition:background-color 0.4s ease-in;
  transition:background-color 0.5s ease-in;

  .content {
    padding: 25px;
  }
}

.card-video:hover {
  background-color: black;
}
