.footer-container {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 17px;
    line-height: 2rem;
    overflow: hidden;
    margin-top: 0px;
    @include media(">=phone", "<lgphone") {
      font-size: 16px;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 14px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.2rem;
    }
  }
  
  span {
    margin-top: 10px;
  }
  icon {
    color: red;
  }
}
