.header-wrapper {
  width: 80vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
	align-items: center;
  h2 {
    font-size: 2rem;
    text-align: center;
    line-height: 20px;
    @include media(">=phone", "<lgphone") {
      font-size: 22px;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 22px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 28px;
    }
  }

  .animoji-container {
    width: 150px;
    height: 150px;
    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
    .react-player {
      width: 150px;
      height: 150px;
    }
  }

  .heading-wrapper {
    h1 {
      font-size: 2.7rem;
      text-align: center;
      line-height: 30px;
      @include media(">=phone", "<lgphone") {
        font-size: 2.3rem;
        line-height: 20px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 2rem;
        line-height: 15px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 3rem;
      }
    }
  }
  p {
    width: 50%;
    text-align: center;
    overflow: hidden;
    line-height: 30px;
    @include media(">=phone", "<lgphone") {
      font-size: 16px;
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 16px;
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 21px;
      width: 100%;
    }
  }

  .social-media-div {
    font-size: 2em;
  }
  
  .icon-button {
		color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 2.57rem;
		height: 2.57rem;
		width: 2.57rem;
    line-height: 2.57rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
    @include media(">=lgphone") {
      border-radius: 3rem;
      height: 3rem;
      width: 3rem;
      line-height: 3rem;
      margin: 0 6px;
      font-size: 1.4rem;
    }
    @include media(">=tablet") {
      border-radius: 3.1rem;
      height: 3.1rem;
      width: 3.1rem;
      line-height: 3.1rem;
      margin: 0 7px;
      font-size: 1.5rem;
    }
	}
	
	.mail div {
    background-color: #f4b400;
	}
	.mail :hover  {
		background-color:#C18100;
		transition: 0.3s ease-in;
	}
	
  .linkedin div {
    background-color: #0e76a8;
	}
	.linkedin :hover {
		background-color:#004375;
		transition: 0.3s ease-in;
  }
  
  .github div {
    background-color: #333;
	}
	.github :hover {
		background-color:#010101;
		transition: 0.3s ease-in;
  }
  
  .instagram div {
    background-color: #c13584;
	}
	.instagram :hover {
		background-color:#8E0251;
		transition: 0.3s ease-in;
  }

  .twitter div {
    background-color: #1DA1F2;
	}
	.twitter :hover {
		background-color:#006EBF;
		transition: 0.3s ease-in;
  }

  .youtube div {
		background-color: #ff0000;
  }
	.youtube :hover {
		background-color:#CC0000;
		transition: 0.3s ease-in;
  }
  
  /* Media Query */
  @media (max-width: 768px) {
    .social-media-div {
      text-align: center;
    }
  }
}
