.skills-container {
  width: 80vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  @include media(">=phone", "<lgphone") {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .skills-grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    @include media(">=phone", "<tablet") {
      flex-direction: column;
    }
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
    grid-gap: 8px;
    @include media(">=phone", "<desktop") {
      justify-content: center;
    }

    h3 {
      line-height: 20px;
      text-align: center;
      @include media(">=phone", "<lgphone") {
        margin-top: 30px;
        margin-bottom: 10px;
      }
    }

    .skill {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      height: 50px;
      @include media(">=phone", "<lgphone") {
        height: 45px;
      }
      img {
        height: 2rem;
        width: 2rem;
        object-fit: contain;
        // filter: sepia(100%) saturate(100%) brightness(70%) hue-rotate(70deg);
        @include media(">=phone", "<lgphone") {
          height: 1.7rem;
          width: 1.7rem;
        }
      }
      p {
        line-height: 20px;
        padding-left: 15px;
      }
    }

    .languages {
      padding-left: 5px;
      @include media(">=phone", "<lgphone") {
        padding-left: 20vw;
      }
      @include media(">=lgphone", "<tablet") {
        padding-left: 30vw;
      }
    }
    .technologies {
      padding-left: 55px;
      @include media(">=phone", "<lgphone") {
        padding-left: 20vw;
      }
      @include media(">=lgphone", "<tablet") {
        padding-left: 30vw;
      }
    }
    .other {
      padding-left: 15px;
      @include media(">=phone", "<lgphone") {
        padding-left: 20vw;
      }
      @include media(">=lgphone", "<tablet") {
        padding-left: 30vw;
      }
    }
  }
}
