.skills-container {
  width: 80vw;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    grid-gap: 20px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
      margin-top: 20px;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
      margin-top: 30px;
    }
    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        height: 4rem;
        width: 4rem;
        border-radius: 2rem;
        object-fit: cover;
      }
      h3 {
        line-height: 20px;
        margin-bottom: 0px;
      }
      h4 {
        font-size: 15px;
        line-height: 20px;
        margin: 5px;
        font-weight: 100;
        font-style: italic;
        @include media(">=phone", "<lgphone") {
          margin: 10px;
        }
      }
      p {
        font-size: 14px;
        margin-top: 5px;
        white-space: pre-wrap;
      }
    }
  }
}

.extra-container {
  width: 80vw;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 17px;
  }
}
