.work-wrapper {
  width: 80vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.extra-container {
  width: 80vw;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 17px;
  }
}
