.youtube-container {
  width: 80vw;
  margin-top: 8vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include media(">=phone", "<lgphone") {
    margin-top: 5vh;
  }

  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25em;
    justify-content: space-between;
    @include media(">=phone", "<tablet") {
      flex-direction: column;
      padding-bottom: 10px;
    }
    @include media(">=tablet", "<desktop") {
      flex-direction: column;
      align-items: center;
    }
    img {
      height: 50px;
      width: 50px;
      border-radius: 25px;
    }
    a {
      text-decoration: none !important;
    }
    .info {
      display: flex;
      flex-direction: row;
      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 11px;
      }
      h2 {
        font-size: 15px;
        line-height: 0%;
        text-align: left;
        color: black;
      }
      h3 {
        font-size: 11px;
        font-weight: 200;
        line-height: 0%;
        text-align: left;
        color: black;
        padding-left: 1px;
      }
    }
  }
  .profile-container:hover{
    h2 {
      text-decoration: underline;
    }
    h3 {
      text-decoration: underline;
    }
  }

  .grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include media(">=phone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      @include media(">=lgphone", "<tablet") {
        -webkit-line-clamp: 7;
      }
    }
  }
}
